/* HEADER */

.header {
    height: 768px;
}

.grid-columns-header {
    height: 125px;
    display: grid;
    grid-template-columns: 3fr 8fr 1fr;
    justify-items: center;
    align-items: center;
}

.logo-place {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.menu-place {
    display: grid;
    align-items: center;
}

.search-place {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-column-gap: 30px;
}

.menuTitle {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 5px;
    justify-items: center;
}

.menuTitle li a {
    text-decoration: none;
    color: white;
    font-family: myriad-arabic, sans-serif;
    font-weight: 400;
    font-size: 23px;
    font-style: normal;
}

.menuTitle li a:hover {
    color: #c7b299;
}

.navigation {
    display: grid;
    grid-template-rows: 1fr;
}

.back-ground-gamburger-menu {
    visibility: hidden;
    position: absolute;
}

.z-index-2 {
    z-index: 2;
    position: relative;
}


/* SLIDER */

.slider {
    height: 768px;
    background-image: url(images/Background.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    position: relative;
    top: -125px;
    z-index: 1;
    display: grid;
    justify-items: center;
    align-items: center;
}

.grid-rows-slider {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
}

.grid-rows-slider h2 {
    font-family: myriad-arabic, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 30px;
}

.grid-rows-slider h3 {
    font-family: myriad-arabic, sans-serif;
    font-weight: bold;
    font-size: 23px;
    font-style: normal;
    color: white;
    font-size: 50px;
}

.grid-rows-slider a {
    font-family: myriad-arabic, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    color: white;
    width: 400px;
    text-align: center;
    margin-top: 10px;
}

.grid-rows-slider button {
    width: 150px;
    height: 40px;
    background-color: #998675;
    color: white;
    border: none;
    border-radius: 3px;
    margin-top: 40px;
}


/* MAIN */
/* SECTION-1 */


.section1 {
    height: 375px;
    width: 100%;
}

.grid-columns-section1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    justify-items: center;
    margin-top: 75px;
}

.section1-box {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.section1-box:hover h3 {
    color: #c7b299;
}

.section1-box:hover .section1-box-bottom-border {
    border-bottom: 3px solid #c7b299;
}

.section1-box h3 {
    font-family: myriad-arabic, sans-serif;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    color: rgba(0, 0, 0, 0.658);
}

.section1-box a {
    text-align: center;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.521);
}

.section1-box-bottom-border {
    width: 75px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.521);
}


/* SECTION-2 */

.section2 {
    height: 645px;
    width: 100%;
    background-color: rgba(192, 192, 192, 0.13);
}

.grid-rows-section2 {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
}

.margin-h3 {
    position: relative;
    top: 80px;
    color: rgba(0, 0, 0, 0.658);
    font-family: myriad-arabic, sans-serif;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
}

.width-a {
    width: 490px;
    height: 60px;
    text-align: center;
    position: relative;
    top: 110px;
    color: rgba(0, 0, 0, 0.521);
}


.relative {
    position: relative;
    top: -150px;
    left: 55px;
}

.one-image {
    z-index: 2;
    left: 160px;
    top: 5px;
    position: relative;
}

.one-image img {
    width: 725px;
    height: 410px;
}

.images-section2 {
    position: relative;
    top: 280px;
}

.two-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 1;
    position: relative;
    top: -302px;
}

.two-images img {
    width: 530px;
    height: 305px;
}

/* SECTION-3 */

.section3 {
    height: 150px;
    width: 100%;
    background: linear-gradient(to left, #301102, #0e0401)
}

.grid-column-section3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 150px;
    justify-items: center;
    align-items: center;
}

.text-section3 h3 {
    font-family: myriad-arabic, sans-serif;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    color: rgba(255, 255, 255, 0.664);
    padding-left: 45px;
}

.text-section3 a {
    font-family: myriad-arabic, sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    color: rgba(255, 255, 255, 0.534);
    padding-left: 45px;
}

.text-section3 span {
    color: #c7b299;
}

.button-place-section3 button {
    width: 170px;
    height: 50px;
    margin-left: 310px;
    font-family: myriad-arabic, sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    color: white;
    background-color: #998675;
    border-radius: 5px;
    border: none;
}

/* SECTION-4 */

.section4 {
    height: 1160px;
    width: 100%;
}

.grid-rows-section4 {
    display: grid;
    grid-template-rows: 1fr;
}

.box-section4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.text_for_image {
    height: 100px;
    width: 370px;
    background-color: #fbfaf8;
    position: relative;
    top: -2.5px;
    display: grid;
    align-items: center;
    padding-left: 30px;
}

.text_for_image h3 {
    font-family: myriad-arabic, sans-serif;
    font-weight: 400;
    font-size: 30px;
    font-style: normal;
    color: #d5c5b2;
}

.text_for_image a {
    font-family: myriad-arabic, sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    color: rgba(0, 0, 0, 0.39);
}

.load-more {
    width: 170px;
    height: 50px;
    position: relative;
    left: 42%;
    top: 40px;
    background-color: #998675;
    color: white;
    font-family: myriad-arabic, sans-serif;
    font-weight: 400;
    font-size: 22px;
    font-style: normal;
    border: none;
    border-radius: 3px;
}

.text-section4 {
    display: grid;
    justify-items: center;
}

.text-section4 h3 {
    margin-top: 80px;
    font-family: myriad-arabic, sans-serif;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    color: rgba(0, 0, 0, 0.699);
}

.text-section4 a {
    font-family: myriad-arabic, sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    width: 615px;
    text-align: center;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.39);
    margin-bottom: 40px;
    margin-top: 20px;
}

.small-boxes {
    width: 600px;
    position: relative;
    left: 340px;
    margin-bottom: 40px;
}

.small-boxes button {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.39);
    color: rgba(0, 0, 0, 0.39);
    border-radius: 3px;
    font-family: myriad-arabic, sans-serif;
    font-weight: 400;
    font-size: 17px;
    font-style: normal;
}

.small-boxes button:hover {
    background-color: #998675;
    color: white;
    border: 1px solid transparent;
}

.image_box:hover img {
    opacity: 0.5;
    background-color: black;
    background-size: cover;
}

.image_box:hover .text_for_image {
    background-color: #362f2d;
    color: white;
}

.image_box:hover .text_for_image .search-txt a {
    color: #c7b299;
}

/* SECTION-5 */

.section5 {
    height: 700px;
    width: 100%;
    background-image: url(images/bgs5.png);
    background-repeat: no-repeat;
    background-position: center;
}

.grid-rows-section5 {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    position: relative;
    top: 210px;
}

.grid-rows-section5 h3 {
    margin-top: 40px;
    font-family: myriad-arabic, sans-serif;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    color: white;
}

.grid-rows-section5 a {
    margin-top: 20px;
    font-family: myriad-arabic, sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    color: white;
    width: 400px;
    text-align: center;
    line-height: 20px;
}


/* SECTION-6 */

.section6 {
    height: 690px;
    width: 100%;
}

.grid-columns-section6 {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.grid-columns-section6 img {
    position: relative;
    top: 74px;
}

.text-section6 {
    margin-top: 195px;
}

.text-section6 h3 {
    font-family: myriad-arabic, sans-serif;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    margin-bottom: 20px;
}

.text-section6 a {
    font-family: myriad-arabic, sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    color: rgba(0, 0, 0, 0.39);
}

.exept {
    display: grid;
    grid-template-rows: 1fr;
    margin-top: 40px;
}

.arrow {
    margin-left: 60px;
    display: grid;
    grid-template-columns: 1fr 6fr;
    margin-top: 10px
}

.arrow img {
    position: relative;
    top: 0;
}

/* SECTION-7 */

.section7 {
    height: 300px;
    width: 100%;
    background: linear-gradient(to left, #301102, #0e0401)
}

.grid-columns-section7 {
    height: 300px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
}

.nummbers {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
}

.nummbers h3 {
    font-family: myriad-arabic, sans-serif;
    font-weight: 400;
    font-size: 60px;
    font-style: normal;
    color: white;
}

.nummbers a {
    color: #c7b299;
    font-family: myriad-arabic, sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
}

.border_bot {
    width: 35px;
    border-bottom: 3px solid white;
    margin-top: 25px;
}


/* SECTION-8 */

.section8 {
    height: 750px;
    width: 100%;
}

.grid-rows-section8 {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
}

.grid-rows-section8 h3 {
    font-family: myriad-arabic, sans-serif;
    font-weight: 500;
    font-size: 40px;
    font-style: normal;
    margin-top: 40px;
}

.grid-rows-section8 a {
    font-family: myriad-arabic, sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    width: 615px;
    text-align: center;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.39);
    margin-bottom: 40px;
    margin-top: 20px;
}

.boxes-section8 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
}

.txt-img-section8 {
    display: grid;
    grid-template-rows: 1fr;
    border: 1px solid rgba(0, 0, 0, 0.11);
    justify-items: center;
    position: relative;
    top: -2.5px;
}

.txt-img-section8 a {
    width: 300px;
    text-align: left;
    margin-bottom: 10px;
}

.txt-img-section8 button {
    width: 90px;
    height: 20px;
    position: relative;
    left: -120px;
    border: none;
    background-color: transparent;
    color: #c7b299;
}

.box-section8:hover img {
    opacity: 0.5;
    background-color: black;
    background-size: cover;
}

.box-section8:hover .txt-img-section8 {
    background-color: #362f2d;
    color: white;
}

.box-section8:hover .txt-img-section8 h3 {
    color: #c7b299;
}

.box-section8:hover .txt-img-section8 a {
    color: white;
}


/* SECTION-9 */

.section9 {
    height: 490px;
    width: 100%;
    background-image: url(images/background_partners.png);
    background-repeat: no-repeat;
    background-position: center;
}

.grid-columns-section9 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    height: 490px;
}



/* FOOTER */

.footer {
    height: 110px;
    width: 100%;
    background-color: #111111;
}

.grid-columns-footer {
    display: grid;
    grid-template-columns: 4fr 2fr;
    height: 110px;
    justify-content: center;
    align-items: center;
}

.box-footer:nth-child(1) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.box-footer:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.text-footer {
    border-right: 2px solid grey;
    padding-right: 5px;
}

.text-footer a {
    text-decoration: none;
    color: #555555;
    font-family: myriad-arabic, sans-serif;
    font-weight: 500;
    font-size: 20px;
    font-style: normal;
}

.faq {
    color: #c7b299;
}


/* LAPTOP 1024px VERSION */

@media (max-width: 1024px) {
    .header {
        height: 547px;
    }

    /* SECTION-2 */
    .section2 {
        height: 512px;
    }

    .two-images img {
        width: 468px;
        height: 260px;
    }

    .one-image {
        z-index: 2;
        top: -39px;
        position: relative;
        left: 1px;
    }

    .relative {
        left: 1px;
    }

    .one-image img {
        width: 612px;
        height: 311px;
        position: relative;
        left: 177px;
    }

    .images-section2 {
        top: 290px;
    }

    /* SECTION-4 */
    .image_box img {
        width: 300px;
    }

    .text_for_image {
        width: 300px;
    }

    /* SECTION-8 */

    .boxes-section8 img {
        width: 306px;
    }
}


/* TABLET VERSION */

@media (max-width: 768px) {

    /* MOBILE MENU */
    .back-ground-gamburger-menu {
        visibility: visible;
        position: fixed;
        left: 695px;
        top: 100px;
        background-color: #998675;
        width: 50px;
        height: 50px;
        display: grid;
        grid-template-rows: 1fr;
        justify-content: center;
        align-items: center;
        border-radius: 1% 50%;
    }

    .nav-gamburger-menu {
        width: 26px;
        height: 25px;
        position: relative;
        left: 2px;
    }

    .nav-gamburger-menu span {
        height: 3px;
        background-color: white;
        position: absolute;
        left: 0;
        right: 0;
        transition: .25s ease-in-out;
    }

    .nav-gamburger-menu span:nth-child(1) {
        top: 3px;
        width: 25px;
    }

    .nav-gamburger-menu span:nth-child(2) {
        top: 10px;
        width: 25px;
    }

    .nav-gamburger-menu span:nth-child(3) {
        top: 17px;
        width: 25px;
    }

    .hidden-menu {
        opacity: 0;
        visibility: hidden;
    }

    .navigation {
        max-width: 600px;
        top: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        transform: translateX(150%);
        transition: all 500ms ease-in-out;
    }

    .nav-gamburger-menu.active-menu span:nth-child(1) {
        top: 50%;
        height: 2px;
        transform: rotate(45deg);
    }

    .nav-gamburger-menu.active-menu span:nth-child(2) {
        top: 50%;
        height: 2px;
        width: 25px;
        transform: rotate(-45deg);
    }

    .nav-gamburger-menu.active-menu span:nth-child(3) {
        transform: scale(0);
    }

    .navigation.active-menu {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
        padding: 20px;
        padding-top: 15px;
        background-color: #998675;
        z-index: 100;
        height: 370px;
        width: 165px;
        right: 10%;
        border-radius: 5px;
    }

    .close {
        display: grid;
        justify-content: center;
        align-items: center;
        display: flex;
        visibility: visible;
        align-self: flex-end;
        color: white;
        background-color: #942121;
        width: 50px;
        height: 30px;
        border: 2px solid #b91d1d;
        margin-bottom: 5px;
    }

    .hide {
        display: none;
    }

    .show {
        display: block;
    }


    /* HEADER  */

    .menuTitle {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        grid-column-gap: 5px;
        align-items: center;
    }

    .header {
        height: 410px;
    }

    /* SLIDER */
    .slider {
        height: 495px;
    }

    /* SECTION-1 */
    .section1 {
        height: 615px;
    }

    .grid-columns-section1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /* SECTION-2 */
    .section2 {
        height: 500px;
    }

    .two-images {
        top: -113px;
    }

    .two-images img {
        width: 350px;
        height: 160px;
    }

    .one-image {
        z-index: 2;
        top: 50px;
        position: relative;
        left: 1px;
    }

    .relative {
        left: 1px;
    }

    .one-image img {
        width: 312px;
        height: 211px;
        position: relative;
        left: 177px;
    }

    .images-section2 {
        top: 290px;
    }

    /* SECTION-4 */
    .section4 {
        height: 1324px;
    }

    .small-boxes {
        left: 145px;
    }

    .box-section4 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    /* SECTION-6 */

    .section6 {
        height: auto;
        padding-bottom: 20px;
    }

    .grid-columns-section6 img {
        top: 159px;
    }

    .arrow img {
        top: 0px;
    }

    /* SECTION-8 */

    .section8 {
        height: auto;
        padding-bottom: 20px;
    }

    .boxes-section8 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    .boxes-section8 img {
        width: 341px;
    }

    .txt-img-section8 button {
        position: static;
    }

    /* SECTION-9 */

    .grid-columns-section9 img {
        width: 50%;
    }
}


/* MOBILE-VERSION */

@media (max-width: 426px) {
    .back-ground-gamburger-menu {
        left: 80%;
    }

    /* HEADER */
    .header {
        height: auto;
    }

    .z-index-2 {
        background: linear-gradient(to left, #301102, #0e0401);
    }

    .navigation.active-menu {
        right: 21%;
    }

    /* SLIDER */
    .slider {
        height: 226px;
        display: grid;
        justify-items: center;
        position: static;
    }


    .grid-rows-slider h2 {
        font-size: 25px;
    }

    .grid-rows-slider h3 {
        font-size: 25px;
    }

    .grid-rows-slider a {
        font-size: 15px;
        width: auto;
    }

    .grid-rows-slider button {
        width: 108px;
        height: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    /* SECTION-1 */
    .section1 {
        height: auto;
        padding-bottom: 15px;
    }

    .grid-columns-section1 {
        grid-template-columns: repeat(1, 1fr)
    }

    /* SECTION-2 */

    .section2 {
        height: 167px;
    }

    .margin-h3 {
        top: 40px;
        font-size: 30px;
    }

    .width-a {
        top: 60px;
        width: auto;
    }

    .images-section2 {
        visibility: hidden;
        position: absolute;
        width: 0px;
    }

    .images-section2 img {
        width: 50px;
    }

    .two-images {
        grid-template-columns: 1fr;
    }

    /* SECTION-3 */

    .grid-column-section3 {
        grid-template-columns: 1fr;
    }

    .text-section3 h3 {
        font-size: 30px;
        padding-left: 0px;
    }

    .button-place-section3 button {
        margin-left: 17px;
    }

    /* SECTION-4  */
    .section4 {
        height: auto;
        padding-bottom: 15px;
    }

    .small-boxes {
        left: 2px;
        width: auto;
    }

    .small-boxes button {
        padding-left: 5px;
        padding-right: 5px;
    }

    .box-section4 {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }

    .text-section4 h3 {
        font-size: 20px;
    }

    .text-section4 a {
        width: auto;
    }

    .load-more {
        position: static;
        margin-top: 15px;
        margin-left: 30%;
    }

    /* SECTION-5 */

    .grid-rows-section5 h3 {
        width: auto;
    }

    .grid-rows-section5 a {
        width: auto;
    }

    /* SECTION-6 */

    .grid-columns-section6 {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .grid-columns-section6 img {
        top: 10px;
        width: 300px;
        height: 375px;
    }

    .text-section6 h3 {
        margin-top: 20px;
        width: auto;
        margin-left: 20px;
    }

    .text-section6 {
        margin-top: 1px;
    }

    .text-section6 a {
        width: auto;
    }
   
    .arrow {
        margin-left: 5px;

    }

    .arrow img {
        width: 20px;
        height: 20px;
    }

    /* SECTION-7 */
    .section7  {
        height: auto;
    }
    .grid-columns-section7 {
        display: grid;
        grid-template-columns: 1fr;
        height: auto;
        padding: 20px;
    }

    /* SECTION-8 */

    .section8 {
        height: auto;
    }

    .boxes-section8 {
        grid-template-columns: 1fr;
    }

    .grid-rows-section8 a {
        width: auto;
    }

    .boxes-section8 img {
        width: 290px;
    }

    .txt-img-section8 {
        width: 290px;
    }
}